html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

/* Header */
header{
    /*background-image: url(" ");*/
    width: 100%;
    height: 200px;
}
header h1{
    text-align: center;
    font-size: 5em;

}
header p{
    text-align: center;
    font-size: 2em;
}








/* Navbar */
nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color: orange;
}
nav a{
    text-decoration: none;
}
nav ul, nav li{
    list-style: none;
}
nav ul{
    margin: auto;
    width: 80%;
    padding: 0;
}
nav li{
    float: left;
    width: 33.3333333333%;
    margin: auto;
    text-align: center;
}

nav li a{
    display: block;
    width: 100%;
    color: black;
}

nav li a:hover{
    background-color: darkorange;
}

.dropdown{
    width: 100%;
    float: left;
    overflow: hidden;
}

.dropdown-items{
    float: left;
    display: none;
    position: absolute;
    background-color: orange;
    width: 26.5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-items a{
    float: none;
    box-sizing: border-box;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu-item{
    overflow: visible;
    position: relative;
}
.menu-item .dropdown-items{
    overflow: visible;
    position: absolute;
    right: 5px;
    width: 150%;
    word-wrap: break-spaces;
}
.menu-item a:hover{
    background-color: darkorange;
}
.dropdown:hover .dropdown-items{
    display: block;
}

nav .menu-item{
    text-align: center;
    float: right;
    width: 5%;
    margin-right: 10px;
}

.current-page{
    background-color: darkorange;
}
.hamburger{
    display: block;
    height: 50px;
    width: 50px;
    margin: auto;
}
.menu-hover{
    display: none;
}
.menu-item:hover #hamburger{
    display: none;
}
.menu-item:hover .menu-hover{
    display: block;
    z-index: 1;
}





/* Everything Else */
body{
    background-color: #eeeeee;
}
.displaced{
    position: relative;
}

.clear{
    clear: both;
}
.body-info{
    padding-top: 35px;
}
.body-info a{
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
}
.body-info a:hover{
    color: darkorange;
}
footer{
    background-color: red;
}

.flare-up{
    font-weight: 700;
    font-style: italic;
    /*text-decoration: none;*/
    color: #000;
}





/* Section Styling */
section{
    width: 1200px;
    margin: 20px auto;
    border-radius: 20px;
    box-sizing: content-box;
    background-color: white;
    padding: 30px;
}

section h2{
    font-size: 3.5em;
}
section h3{
    font-size: 2.0em;
}

section p{
    float: left;
    width: 800px;
    font-size: 1.5em;
    box-sizing: border-box;
}
section li{
    font-size: 1.5em;
}



/* Symptom Styling */
.symptom h3{
    margin: 20px auto 0;
    float: left;
    width: 800px;
}

.symptom p{
    float: none;
    width: 800px;
    margin-top: 0;
    padding-left: 30px;
}



/* Aside styling */
section aside{
    box-sizing: border-box;
    float: right;
    width: 400px;
    padding: 20px;
    /*background-color: red;*/
}
section aside p{
    margin-top: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

section aside img{
    width: 100%;
    border: solid black 5px;
    border-radius: 10px;

}
section aside img:hover{
    transform: scale(1.5) translateX(-50px);
    transition: transform .1s ease-in-out;
    z-index: 1;
}