*{
    box-sizing: border-box;
}
html{
    background-color: lightgrey;
}
body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    padding: 10px;
    right: 0;
    width: 190px;
    height: 100%;
    background-color: lightgrey;
}
ul, li{
    height: 100%;
    width: 100%;
    padding: 0;
}
ul{
    margin: 0;
}
nav{
    height: 100%;
}
.nav-button{
    border-radius: 40px;
    height: 30%;
    width: 100%;
    margin: 10px 0;
    list-style: none;
    background-color: #AB00B3;
}
.nav-button:hover{
    background-color: #F733FF;
}
.current-page{
    pointer-events: none;
    color: grey;
    background-color: grey;
}
.page-link{
    display: block;
    font-size: 2em;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
}
.homepage{
    font-size: 2em;
    padding: 10px;
}
main{
    //background-color: #94FF4D;
}
hr{
    width: 98%;
}
.profile{
    font-size: 18px;
    text-decoration: none;
    display: block;
    background-color: white;
    margin: auto;
    width: 125px;
    border-radius: 200px;
    position: relative;
    text-align: center;
    bottom: 35px;
}
.push-from-right{
    margin-right: 175px;
}
/* Index Page Styling */
.image-gallery{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.gallery{
    margin: 0 20px;
    display: inline;
    width: 400px;
    height: 400px;
}
/* Storybox styling*/
.wrapper{
    width: 85%;
    margin: auto;
}
.text-wrapper{
    text-align: center;
    padding: 5px;
}
.storybox{
    width: 400px;
    height: 380px;
    background-color: white;
    float: left;
    margin: 10px 10px 25px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.storybox-image{
    display: block;
    width: 100%;
    height: 300px;
}
.storybox-text{
    margin: 0;
    padding: 10px;
    width: 400px;
    height: 300px;
    display: none;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    overflow-y: auto;

}
.storybox:hover .storybox-text{
    display: block;
}
.storybox:hover .storybox-image{
    display: none;
}
.clear{
    clear: both;
}
footer{
    height: 100px;
    position: relative;
}
.profile-home{
    float: left;
    width: 100px;
    height: 100px;
    line-height: 25px;
    padding-top: 25px;
    text-align: center;
    margin: 20px 0 0 20px;
    background-color: #AB00B3;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-info{
    position: absolute;
    bottom: 0;
    right: 0;
}